.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

/* Форманын стили */
.form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

/* Тема аталышы */
.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Ар бир форма элементи */
.form-group {
  margin-bottom: 15px;
}

/* Лейбл стили */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Инпут стили */
.form-group input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-category{
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Кнопка стили */
.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background-color: #1a5edb;
}
#Signup{
  min-height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}