#login {
  width: 80%;
  .login {
    width: 100%;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    &-left {
      border-radius: 0px 25% 25% 0px;
      width: 45%;
      height: 100vh;
      background: rgb(112, 81, 239);
      h1 {
        margin-left: 3%;
        color: rgb(255, 255, 255);
        font-family: Quicksand;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
    &-right {
      .block {
        h1 {
          color: rgb(24, 24, 33);
          font-family: Quicksand;
          font-size: 48px;
          line-height: 60px;
          letter-spacing: 0%;
        }
        padding-left: 30%;
        width: 480px;
        height: 544px;
        .username {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          input {
            font-family: Quicksand;
            font-weight: 600;
            padding-left: 3%;
            border-radius: 10px;
            background: rgb(220, 224, 227);
            width: 100%;
            height: 60px;
            font-size: 23px;
          }

          .user {
            position: absolute;
            right: 5%;
            top: 30%;
            font-size: 25px;
          }
        }
        .password {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5%;
          position: relative;

          input {
            overflow: auto; /* Показывает скролл при переполнении */
            word-wrap: break-word; /* Переносит длинные слова */
            font-family: Quicksand;
            font-weight: 600;
            padding-left: 3%;
            border-radius: 10px;
            background: rgb(220, 224, 227);
            width: 100%;
            height: 60px;
            font-size: 23px;
          }
          .pass {
            position: absolute;
            right: 5%;
            top: 30%;
            font-size: 25px;
          }
        }
        .btn {
          margin-top: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 480px;
          height: 60px;
          border-radius: 10px;
          background: rgb(112, 81, 239);
          color: white;
          font-size: 20px;
          
        }
        .signup {
          margin-top: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 480px;
          height: 60px;
          border-radius: 10px;
          background: white;
          color: rgb(89, 89, 89);
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
